.titulo{
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    text-decoration: underline;
    margin: 0%;
    padding: 0%;
}
.formulario{
 
font-size: 30px;
background-color: rgb(238, 174, 96);
text-align: center;
padding: 10px;
margin: 10px;

}
.footer{
    background-color: rgb(61, 59, 59);
}
.footer ul li a{
    color: white;
}
